<!DOCTYPE html>
<html lang="es">
<!-- Include Head -->
<%- include('partials/head', {title: 'Todos los productos'}) %>
<body>
	<!-- Header -->
	<%- include('partials/headerNavbar') %>
	<!-- /Header -->

	<!-- todos los productos -->
	<div class="container products-wrapper">
		<div class="row">
			<div class="col-12">
				<button type="button" class="btnAgregar">
					<a href="/products/create">	AGREGAR UN NUEVO PRODUCTO </a></button>
				<h2 class="products-title">Todos los productos</h2>
			</div>
			<% products.forEach(product => { %>
				<div class="col-12 col-sm-6 col-lg-3">
					<section class="product-box">
							<figure class="product-box_image">
								<form class="click-delete" action="/products/delete/<%=product.id%>?_method=DELETE" method="post">
									<button class="btn btn-outline-secondary" type="submit" name="delete" id="button-addon2"><i class="fas fa-trash" title="Borrar"></i></button>
								</form>
								<a href="/products/edit/<%=product.id%>">
									<button class="btn btn-outline-secondary" type="button" id="button-addon2">
										<i class="fas fa-pen"></i>
									</button>
								</a>
								<a href="/products/detail/<%=product.id%>/<%=product.category%>">
								<img src="/images/products/<%= product.image %>" alt="imagen de producto">
								</a>
							</figure>
							<article class="product-box_data">
								<h2>$<%= formatPrice(product.price,product.discount) %></h2>
								<span><%= product.discount %>% OFF</span>
								<p><%= product.name %></p>
								<i class="fas fa-truck"></i>
							</article>
					</section>
				</div>
			<% }); %>
		</div>
	</div>
	<!-- /todos los productos -->

	<!-- footer -->
	<%- include('partials/footer') %>
	<!-- /footer -->

<script src="/javascripts/validacionDelete.js"></script>
</body>
</html>